/* =========================
   FUENTES
========================= */
.font-sans {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
               "Open Sans", "Helvetica Neue", sans-serif;
}

/* =========================
   COLORES BASE
========================= */

/* Piedra */
.bg-stone {
  background-color: #6b7280;
  color: #ffffff;
}
.text-stone {
  color: #6b7280;
}

/* Cyan */
.bg-cyan {
  background-color: #06b6d4;
  color: #ffffff;
}
.text-cyan {
  color: #06b6d4;
}

/* Light Blue */
.bg-light-blue {
  background-color: #38bdf8;
  color: #ffffff;
}
.text-light-blue {
  color: #38bdf8;
}

/* =========================
   BOTONES
========================= */

.btn-send {
  background-color: #0d6efd;
  color: #ffffff;
  border: none;
}
.btn-send:hover {
  background-color: #0b5ed7;
}

/* DONE */
.btn-done {
  background-color: #198754;
  color: #ffffff;
  border: none;
}
.btn-done:hover {
  background-color: #157347;
}



/* UNDONE */
.btn-undone {
  background-color: #871919;
  color: #ffffff;
  border: none;
}
.btn-undone:hover {
  background-color: #731522;
}

/* DELETE */
.btn-delete {
  background-color: #dc3545;
  color: #ffffff;
  border: none;
}
.btn-delete:hover {
  background-color: #bb2d3b;
}

/* EDIT */
.btn-edit {
  background-color: #fd7e14;
  color: #ffffff;
  border: none;
}
.btn-edit:hover {
  background-color: #e96b0c;
}
/* TEXT AREA */
.textarea-small {
  resize: none;
  max-height: 75px;
  height: 500px;
  overflow-y: auto; /* para scroll si excede */
}
